.table-container {
  width: 100%;
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    thead {
      tr {
        th {
          border-bottom: 1px solid #808080;
          padding: 8px;
        }
      }
    }
    tbody {
      tr {
        td {
          border-bottom: 1px solid #808080;
          padding: 16px;
        }
      }
    }
  }
}
